.program {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.programTitle {
  font-size: 2.5rem;
  font-family: "ArTarumianBarakU-Bold";
  color: #242424;
  /* text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #000; */
}

.programItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: clamp(2rem, 5vw, 2rem);
  margin-top: 50px;
  width: 100%;
}
.programItem_time {
  font-size: clamp(2rem, 10vw, 4rem);
  color: gold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.programItem_city {
  font-size: 2.5rem;
}
.programItem_title {
  font-family: "ArTarumianBarakU-Bold";
  /* background: #00000055; */
}
.programItem_img {
  width: 150px;
  height: 150px;
}
.programItem_img img {
  width: 100%;
  height: 100%;
}

.place-photo {
  width: 100%;
  margin: 0 auto 50px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 
}

.church-photo {
  background: linear-gradient(#353535a8, #353535a8),
    url(../../assets//images/St._Gayane_Church.jpg) no-repeat;

  background-size: cover;
  background-position: center;
}
.restoran-photo {
  background: linear-gradient(#353535a8, #353535a8),
    url(../../assets//images/arev.jpg) no-repeat;

  background-size: cover;
  background-position: center;
}

.How_to_get_there {
  background: none;
  padding: 12px 24px;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 20px;
  border: 2px solid #fff;
}

@media (min-width: 1000px) {
  .place-photo {
    max-width: 500px;
  }
}
