/* #root { */
/* max-width: 1280px; */
/* margin: 0 auto; */
/* padding: 2rem; */
/* text-align: center; */
/* } */

body {
  font-family: "SHK_Dzeragir";
  user-select: none;
  position: sticky;
  z-index: 1000;
}


.backdrop-filter {
  backdrop-filter: blur(8px);
}
